#header {
	color:white;
	background:#C5C0B0 none repeat scroll 0 0;
	border:1px solid #ACA592;
	font-size:1.4em;
	padding-left:200px;
}
#outer_wrapper {
	background: transparent;
}
#wrapper {
	background: url(background_2.gif) repeat-y right;
}

#container {
	width: 100%;
	float: left;
	margin-right: -300px;
	background: url(background_2.gif) repeat-y right;
}
#content {
	margin-right: 300px;
	background: url(background_3.gif) repeat-y left;
}
#main {
	border:1px solid #ddd;
	padding:1em;
	margin:1em;
	background:#fff;	
	margin-left:200px;
-moz-border-radius:15px;
}
#left {
	float:left;
	position:relative;
	top:-4em;
	width:150px;
}
#sidebar {
	float:right;
	position:fixed;
	right:-11px;
	width:200px;
}
#footer {
	border: 1px solid #cecea5;
	background: #C5C0B0 none repeat scroll 0 0
	position: relative;
}
h1 {
	margin-top: 0;
}
.last {
	margin-bottom: 0;
}
.clearing {
	height: 0;
	clear: both;
}

