body {
	background:#EEEBE2;
	font: 14px/20px Arial, Helvetica, sans-serif;
}


#myytplayer {
	float:right;
	position:relative;
	right:35px;
	top:-3em;
}



.playlistColumn {
	background:#777 url(../tolly/strip.png) repeat scroll 0 0;
	border:1px solid #111111;
	float:left;
	margin-left:25px;
	padding:0 10px 5px;
	position:relative;
	width:122px;
}

	#sortable { list-style-type: none; margin: 0; padding: 0;  }
	#sortable li {
		background:#333 none repeat scroll 0 0;
		border:0 none;
		float:left;
		font-size:4em;
		height:67px;
		margin:3px;
		padding:5px 20px 5px 0;
		text-align:center;
		width:96px;
	}

	#ui-sortable {background-color:red;}
	
	#emptyPlaylist {
		font-size:0.3em;
	}
	
	#sortable li {
		float:left;
		font-size:4em;
		height:67px;
		margin:3px 3px 3px 0;
		padding:5px 20px 5px 0;
		border:0px;
		text-align:center;
		width:100px;
	}
	
	 .helper {
		background-color:red;
		border:2px dashed #red;
		color:#333;
	}
	
	
a.playlistDelete {
	border:0 none;
	left:1em;
	position:relative;
	top:-1.86em;
}

.playlistPlay {
	left:1em;
	position:relative;
	top:-0.5em;
}

.playlistItemInfo {
	-moz-border-radius-bottomleft:3px;
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-topright:3px;
	background-color:#555555;
	border:1px solid #555555;
	color:#DDDDDD;
	font-size:0.4em;
	left:123px;
	min-width:400px;
	opacity:0.9;
	padding:1em;
	position:relative;
	text-align:left;
	top:-130px;
	z-index:222;
}

.playlistItemInfo h4 {
	padding-top:0em;
	margin-top:0em;
	font-size:1em;
}


.playlistPlaceholder {
background-color:black;
position:absolute;
width:128px;
z-index:22;
left:20px;
}

